Package: libsys-cpu-perl
Version: 0.61-3
Architecture: amd64
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 47
Depends: perl (>= 5.28.1-3), perlapi-5.28.1, libc6 (>= 2.2.5)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Sys-CPU
Description: module for getting CPU information
 The Sys::CPU Perl offers an API to get the number of CPUs and its
 speed and type. It reports numbers, type, and clockspeed of CPUs.
